<div class="text-center">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h2>"{{review_description}}"</h2>
                <footer class="blockquote-footer">
                    {{!-- <p>{{user.username}}</p> --}}
                    <p>Username</p>
                </footer>
            </blockquote>
        </div>
    </div>
</div>