<div class="text-center">
    <h1> Choose a Video Game to leave a review! </h1>
    <ul>
        {{#each videogames as |videogame|}}
        <li> <a href="/videogames/{{videogame.id}}">{{videogame.videogame_name}}</a> </li>
        {{/each}}
    </ul>
</div>

<script src="./js/logout.js"></script>
